.counter{
  width:30%;
  height:40%;
  background-color:rgb(160, 144, 144);
  border: 2px solid black;
  text-align: center;
}
.count{
  width:30%;
  height:30%;
  margin-left: 5px;
}

button{
  width:25%;
  height: 2rem;
  margin: 10px;
  text-decoration-style: black;
  font-size:24px;
}